/README.md.backup
*.py[co]
*~
.DS_Store
_cache/
.cache/
.vagrant/
.coverage
/cover/
/htmlcov/
/build/
/dist/
*.egg-info
.tox
tags
tmp
/Downloads
/*.json

# virtualenv folders
venv2
venv3
.idea
.python-version
.ipynb_checkpoints
.ropeproject
.mypy_cache
